<h1>LIBRARY</h2>

<h2>BOOKS</h2>

<% @books.all.each do |book|%>
<ul>
  <li><%= book.title %> | <%= book.author %> | <%= book.year %></li>
</ul>
<% end %>
<hr><hr>
<h2>Patrons</h2>
<% @patrons.all.each do |patron| %>
  <ul>
    <li><%= patron.name %></li>
  </ul>
<% end %>
